<div class="row">
	<main class="col-md-12">

		<h1>About<h1/>
		<hr>
		<h3>
			This the about page of this application. <br>
			This app can record student data with their <br>
			And these can be manipulated in a simple way. <br>
		</h3>


	</main>
</div>