<div class="row">
    <main class="col-md-12">

        <!-- Start your code here -->

        <br />

        <form method="post" action="/courses/add">
            <table>
                <tr>
                    <th><label for="Course-code">Course Code</label></th>
                    <th><label for="Course_desc">Course Description</label></th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="courseCode" label="Course Code">
                    </td>
                    <td>
                        <input type="text" name="courseDescription" id="Course Description">
                    </td>
                </tr>
                <hr>
                <tr>
                    <td colspan="3">
                        <input type="submit" value="Add Course" >
                    </td>
                </tr>
            </table>
        </form>

        <!-- End your code here  -->

    </main>
</div>