<div class="row">
	<main class="col-md-12">
		<h1>Home</h1>
		<h5>
			This is the Home Page of this application. <br>
			We need to login using credentials in order <br>
			to access functionality of this. <br>
			<br>
			username: sampleuser<br>
			password: samplepassword<br>
		</h5>
	</main>
</div>