<div class="row">
	<main class="col-md-12">
		<h1>Home</h1>
		<h5>
			This is the Home Page of this application. <br>
			We need to login using credentials in order to 
			access functionality of this. 
		</h5>
	</main>
</div>